XTREAM_URL_VODS=
XTREAM_USER_VODS=
XTREAM_PASS_VODS=

XTREAM_URL_CHANNELS=
XTREAM_USER_CHANNELS=
XTREAM_PASS_CHANNELS=

M3U8_PATH=./lista.m3u
USE_IPTV_ORGANIZER=false

DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

TMDB_API_KEY=
TMDB_LANGUAGE=pt-BR

SYNC_ONLY_NEW_SERIES_UPDATES=true
